<div class="container d-flex justify-content-center align-items-right flex-column" id="what-we-do">
  <div>
    <h1>{{ include.info.title }}</h1>
    <p>{{ include.info.body }}</p>
  </div>
    <div id="technologies" class="d-flex justify-content-center align-items-center">
      {% for technology in site.data.technologies %}
        <div class="card d-flex flex-column justify-content-around align-items-center">
          <img src="{{ technology.image | prepend: "/assets/images/"  | absolute_url}}" alt="Pinacodelab Tech" class="tech-image">
          <h1>{{ technology.name | upcase }}</h1>
        </div>
      {% endfor %}
    </div>
</div>
