$svg-size: 300px;

#about-us{
  min-height: 0;
  padding: ($padding*4) ($padding*2);
  .info{
    svg{
      width: $svg-size;
      height: 100%;
      margin-bottom: ($padding*2);
    }
    p{
      margin: 0;
    }
  }

}
