#hero{
  padding: 0;
  .banner{
    background-position: bottom;
    background-size: contain;
    &>*{
      animation: fadein 3s;
    }
    h1{
      text-transform: uppercase;
    }
    p{
      text-transform:lowercase;
    }
  }
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

