html{
  scroll-behavior: smooth;
}

p{
  font-weight: 100;
}

h1{
  margin-bottom: $padding/2;
}


section{
  align-items: stretch;
  display: flex;
  min-height: 100vh;
  padding: $navbar-size 0;
  position: relative;
  word-wrap: break-word;
  box-sizing: border-box;

  &:nth-child(odd) {
    background: $light-theme-bg-color;
  }

  &:nth-child(even) {
    background: $dark-theme-bg-color;
    color: $dark-theme-font-color;
  }

  .wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;

    .grow{
      flex-grow: 1;
    }
  }
}
