.banner{
  display:flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
  padding: 10vw;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
