$tech-image-size: 200px;

.card-tech {
  background: $white;
  // min-height: 240px;
  // min-width: 240px;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  margin: $padding ($padding * 1.5);
  padding: $padding ($padding * 1.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.3s;
  transition-property: color, background-color, transform;
  &:hover {
    background-color: $persia-green;
    color: white;
    transform: scale(1.1);
  }
  .tech-image {
    height: $tech-image-size;
    width: $tech-image-size;
  }
  .tech-title {
    p {
      margin: $padding 0 0 0;
      letter-spacing: 2px;
    }
  }
}
