$card-border-radius: 24px;

.card-tech {
  background: $white;
  border-radius: $card-border-radius;
  box-shadow: $box-shadow;
  margin: $padding 0;
  padding: $padding ($padding * 1.5);
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.3s;
  transition-property: color, background-color, transform;
  &:hover {
    background-color: $persia-green;
    color: white;
    transform: scale(1.1);
  }
  img {
    width: 100%;
  }
  p {
      margin: $padding 0 0 0;
      letter-spacing: 2px;
      text-transform: uppercase;
  }
}

// // Small and medium devices (tablets, 768px and up)
@media (max-width: 575.98px) {
  .card-tech {
     transform: none;
    &:hover {
      background-color: white;
      color: initial;
      transform: none;
    }
  }
}
