$footer-size: 104px;

.footer {
  background: $crusoe;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $footer-size;
  padding: 0px ($padding*3);
  color: $white;
}

.footer-links {
  float: right;
  a {
    font-size: ($font-size-base*0.75)+px;
  }
}

.copyright {
  float: left;
  display: flex;
  align-items: center;
  p {
    margin-bottom: 0px;
  }
}
