<div class="footer">
  <div class="copyright">

    <img src="{{"PINACODELAB-logo.png" | prepend: "/assets/images/"  | absolute_url}}" alt="Pinacodelab Logo" class="">

    <div>
      <p>Always Look On The Bright Side Of Life</p>
      <p>Religion And Science</p>
    </div>
  </div>

  <ul class="footer-links list-inline d-none d-xl-block">
    {% for item in site.data.navigation %}
    <li class="list-inline-item">
      <a href="{{ item.link | absolute_url }}">{{ item.name }}</a>
    </li>
    {% endfor %}
  </ul>

</div>





<!-- <div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
-->
